* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

/* big selectors */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5vh;
}

body {
  min-height: 100vh;
  background: #444;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: clamp(2.5rem, 4.5vw, 6rem);
}

h2 {
  font-size: clamp(1.5rem, 1.5vw, 4rem);
}

h3 {
  font-size: clamp(1.75rem, 2vw, 5rem);
}

p {
  font-size: clamp(0.4rem, 1vw, 1.5rem);
  line-height: 1.7;
  color: rgb(97, 97, 97);
  max-width: 45ch;
}

.gold {
  color: #f39f22;
}

.muted {
  color: rgb(116, 116, 116);
}

.container {
  position: relative;
  padding: 1rem;
  background: #fff;
}

/*================================================
                      HEADER
  ================================================*/

/* header styles */

header {
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  position: sticky;
  top: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  z-index: 999;
}

header nav {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header li {
  font-size: clamp(0.5rem, .95vw, 1.5rem);
  margin: 0 1.75vw;
  position: relative;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5vh;
}

/* cool underline effect on the header items */

header ul:first-child li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #f39f22;
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transition: all 0.3s ease;
}

header ul:first-child li:hover::after {
  transform: scale(1, 1);
}

header ul:first-child li:hover a {
  color: #f39f22;
}

/* header search form styles */

header form {
  display: flex;
}

header button {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 1rem;
  transform: translateY(2px) scale(0.75);
}

header input {
  border: none;
  padding: 0 0.5rem;
}

.add-post {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  background: #f39f22;
}

/* specific styles to sign up button */

.sign-up {
  background: #d6850c;
  display: inline-block;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  color: #fff;
  border: none;
}

.sign-up:hover {
  background: #f39f22;
}

/*================================================
                    FOOTER
  ================================================*/

footer {
  min-height: 7.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

footer nav {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.facebook,
.instagram,
.mail {
  transition: all 0.2s ease;
}

.facebook:hover {
  color: rgb(18, 18, 231);
}

.instagram:hover {
  color: rgb(194, 31, 226);
}

.mail:hover {
  color: rgb(72, 195, 236);
}

/*================================================
                    MAIN PAGE
  ================================================*/

/* landing section */

.land {
  position: relative;
  min-height: 80vh;
  display: grid;
  place-items: center;
  color: #fff;
  text-align: center;
  background: url("./media/cbbg.png") no-repeat center center fixed;
  background-size: cover;
}
.btn {
  position: absolute;
  bottom: 10vh;
  padding: 15px 40px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background: #fff;
  color: #f39f22;
  border-radius: 10px;
  font-weight: bolder;
}

/* about section */

.about {
  min-height: 110vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about p {
  margin-bottom: 1rem;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  min-height: 75vh;
}

.about-card-img {
  width: 50%;
  min-height: inherit;
  background: url("./media/ja.jpg");
  background-size: cover;
  background-position: center center;
}

.about-card-desc {
  width: 50%;
  min-height: inherit;
  background: rgb(236, 236, 236);
  position: relative;
  padding-top: 2rem;
}

.about-me {
  width: 75%;
  margin: auto;
}

.about-card-desc .btn {
  border-color: #f39f22;
  background: #f39f22;
  color: #fff;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}

/* recent posts preview */

.preview-post-img,
.preview-post-desc,
.categories .container,
footer,
.comment {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}


.post-section {
  padding: 10vh 0;
  background: #fff;
}

.post-section h1 {
  color: #f39f22;
  width: 75%;
  margin: 0 auto;
  border-bottom: 3px solid #f39f22;
  margin-bottom: 1rem;
}

.post-preview {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 60% 35%;
  gap: 5%;
}

.preview-post {
  padding: 1rem 0;
  margin: auto;
  display: grid;
  min-height: 350px;
  grid-template: 17.5% 65% 17.5% / 35% 15% 37.5% 12.5%;
}

.preview-post-img {
  grid-column: 1/4;
  grid-row: 1/4;
  position: relative;
}

.preview-post-desc {
  grid-column: 2/5;
  grid-row: 2/3;
  background: #fff;
  padding: 2rem;
  position: relative;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
}

.preview-post-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.preview-post-read {
  margin-top: auto;
  position: relative;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.preview-post-date {
  font-size: 75%;
}

.preview-post-content {
  margin-top: 0.5rem;
}

.preview-post-content,
.preview-post-headline {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.preview-post-likes {
  align-self: flex-end;
}

.categories {
  text-align: center;
  padding: 1rem 0;
  min-height: 350px;
}

.categories .container {
  height: 100%;
}

.categories ul {
  list-style: none;
}

.categories li {
  margin: 1rem 0;
}

/* registration page */

.register,
.login,
.access-denied,
.new-post {
  background: #444;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
  position: relative;
}

.register form,
.login form {
  display: flex;
  flex-direction: column;
}

/* error popup */

.err-popup {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  color: #f39f22;
}

/* access denied page */

.access-denied h1 {
  max-width: 75%;
  text-align: center;
}

/* add post page */

.new-post {
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.post-form > * {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.post-form ul {
  list-style: none;
}

.post-form input,
.post-form textarea {
  padding: 5px;
}

.post-form button {
  width: 150px;
  padding: 5px 0;
}

/*================================================
                    POST PAGE
  ================================================*/

.post {
  min-height: 87.5vh;
  background: #fff;
}

.post-land {
  min-height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.post form {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.post input:first-child {
  width: 70%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0));
}

.post-land h1 {
  color: #fff;
  z-index: 3;
}

.post-desc {
  min-height: 17.5vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.post-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-content {
  width: 40%;
  margin: 25px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.actual-content {
  width: 100%;
  overflow-wrap: break-word;
}

.actual-content pre {
  margin: 25px 0;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.7;
  color: rgb(97, 97, 97);
}

.comments {
  margin-top: 2rem;
}

.comment {
  margin: 2rem 0;
  padding: 1rem;
}

.comment-sender {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-sender-name {
  font-size: 1.5rem;
}

.comment-content {
  margin: .5rem 0;
}

/*================================================
                 CATEGORY PAGE
  ================================================*/

.category-posts {
  width: 45%;
  min-height: 87.5vh;
  margin: 0 auto;
}
